html {
  font-size: 10px;
}

body {
  background: #302f2f;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column__body {
  margin-top: 6rem;
  background-color: #fffafa;
  padding: 2rem;
}
.column__title {
  margin-bottom: 2rem;
  text-align: center;
  color: #dd9a0a;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}
.column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.column__col {
  height: 400px;
  background-color: #e2dfdf;
  -webkit-box-shadow: 12px 12px 10px 1px rgba(24, 24, 27, 0.2);
          box-shadow: 12px 12px 10px 1px rgba(24, 24, 27, 0.2);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.column__col--road1 {
  background-image: url(../image/road1.jpg);
}
.column__col--road2 {
  background-image: url(../image/road2.jpg);
}
.column__col--road3 {
  background-image: url(../image/road3.jpg);
}
.column__desc {
  -webkit-transition-property: text-align, background, opacity, color, font-weight, background-color, -webkit-transform;
  transition-property: text-align, background, opacity, color, font-weight, background-color, -webkit-transform;
  transition-property: transform, text-align, background, opacity, color, font-weight, background-color;
  transition-property: transform, text-align, background, opacity, color, font-weight, background-color, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-color: #fff;
}
.column__col:hover .column__desc {
  -webkit-transform: translateY(-18rem);
          transform: translateY(-18rem);
  text-align: center;
  background: rgba(255, 255, 255, 0);
}
.column__col:hover .column__desc-row {
  margin-bottom: 1rem;
}
.column__col:hover .column__address {
  color: white;
  font-weight: 300;
}
.column__col:hover .column__sub-title {
  background-color: #dd9a0a;
}
.column__col:hover .column__text1 {
  color: white;
  font-weight: 300;
}
.column__col:hover .column__text2 {
  display: block;
  text-align: center;
  font-weight: 300;
}
.column__desc-row > :not(:last-child) {
  margin-bottom: 1rem;
}
.column__address {
  color: #757373;
  font-size: 1.8rem;
}
.column__sub-title {
  color: #0c0c0c;
  font-size: 2rem;
  font-weight: 600;
}
.column__body-text {
  font-size: 1.5rem;
}
.column__text1 {
  color: #000;
  font-weight: 400;
}
.column__text2 {
  display: none;
  font-weight: 400;
  color: white;
  margin-top: 0.5rem;
}